<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDioixZ0T2pLfENe65EQ97VaiCvh1VAk0</string>
	<key>GCM_SENDER_ID</key>
	<string>289373549402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mooEnt</string>
	<key>PROJECT_ID</key>
	<string>moo-entertainment</string>
	<key>STORAGE_BUCKET</key>
	<string>moo-entertainment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289373549402:ios:6a0b2f6dd264ba3eefb963</string>
</dict>
</plist>